<%- include ('../partials/header') %>

<header class="home-cta">
  <h2 style="color: azure;">Please Log in and we will send you all the information about your dream house!</h2>
</header>

<%- include ('../partials/footer') %>
